#parse("include/common.vm")

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>登录页面_anmelden</title>
	<!--META-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	<script type="text/javascript" src="${ctx}/resources/js/jquery.min.js"></script>
	<!--CSS-->
    <link rel="stylesheet" type="text/css" href="${ctx}/resources/css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="${ctx}/resources/css/style.css" media="all" />
	<style type="text/css">
		body{
			margin:0;
			padding:0; 	
		}
		.page{
			background-image:url($ctx/resources/image/homepage_ohne_anmelden.jpg);
			margin-left:-5px;
		}
		.head{
			height:50px;
		}
		.main{
			margin:0 auto;
		}
		.main_melden{
			height:700px;
		}
		.main_papier{
			height:600px;
			width:500px;
			position:absolute;
			margin-left:700px;
		}
		.main_oben{
			display:inline-block;
			position:absolute;
			opacity: 0.8;			
			margin:60px -327px;
		}
		.anmelden{
			display:inline-block;
			font-size: 16px;
			font-family: "Arial";
			color: rgb( 0, 0, 0 );
			font-weight: bold;
			-webkit-transform: matrix( 1.98577213527416,0,0,2.13764527539161,0,0);
			position:absolute;
			margin:-59px 69px;
			}
		.main_mittel1{
			display:inline-block;
			position:absolute;
			margin:199px -398px;

		}
		.icon_user{
			display:inline-block;
			position:absolute;
			margin:-42px 28px;
		}
		.input_user{
			width:220px;
			height:40px;
			position:absolute;
			margin:-45px 98px;
		}
		.main_mittel2{
			display:inline-block;
			position:absolute;
			margin:273px -398px;
		}
		.icon_password{
			display:inline-block;
			position:absolute;
			margin:-42px 28px;
		}
		.input_pssword{
			width:220px;
			height:40px;
			position:absolute;
			margin:-45px 98px;
		}
		.main_mittel3{
			display:inline-block;
			position:absolute;
			margin:364px -325px;
		}

		.main_unten{
			display:inline-block;
			position:absolute;
			margin:418px -274px;
		}
		.pass_vergessen{
			font-size: 10px;
			font-family: "Arial";
			color: rgb( 203, 24, 10 );
			-webkit-transform: matrix( 1.98577213527416,0,0,2.13764527539161,0,0);
		}
		.registrieren {
			font-size: 10px;
			font-family: "Arial";
			color: rgb( 29, 14, 178 );
			-webkit-transform: matrix( 1.98577213527416,0,0,2.13764527539161,0,0);
			}		
    </style>
	<script type="text/javascript">
		function newPass(){
			var myemail=prompt("Bitte geben Sie ihre bestätigte E-Mail Adresse ein und wir helfen Ihnen, Ihr Passwort zurückzusetzen!"); //输入邮箱找回密码。发送一封邮件，附有编辑新密码的链接，点击直接更改密码。
			if(myemail!=null)
			{
				alert("E-Mail wird gesendet. Bitte prüfen Sie ihre E-Mail."); //邮件已被发送，请检查邮箱。
				}
			else
			{
				alert("Bitte geben Sie gültige E-Mail Adresse ein!");//请输入有效的邮箱地址。
				}
			}
	</script>
</head>

<body>
	<div class="page">
        <!--菜单栏：标语和登录-->
        <div class="head">       	
            <div class="logo" style="display:inline-block;">
            	<a href="网站首页_Homepage ohne anmelden.html">
                	<img src="$ctx/resources/image/logo.png" width="200" height="47" />
                </a> 
            </div>
        </div>
        <!--登录框-->
        <div class="main">
        	<div class="main_melden">
                <div class="main_papier">
                    <img src="$ctx/resources/image/home_0000s_0004_pin.png" width="480" height="600" />
                    <div class="main_oben">
                		<img src="$ctx/resources/image/home_0000s_0000s_0001_bg.png" width="230" height="100" />
                        <p class="anmelden">ANMELDEN</p>
                    </div>
                    <div class="main_mittel1">
                    	<img src="$ctx/resources/image/home_0000s_0001s_0001_user-bg.png" width="70" height="50" />
                        <div class="icon_user">
                        	<img src="$ctx/resources/image/home_0000s_0001s_0000_user.png" width="30" height="32" />
                        </div>
                        <form>
                        	<input type="text" class="input_user" id="username" placeholder="E-Mail Adresse" />
                        </form>
                    </div>
                    <div class="main_mittel2">
                    	<img src="$ctx/resources/image/home_0000s_0001s_0001_user-bg.png" width="70" height="50" />
                        <div class="icon_password">
                        	<img src="$ctx/resources/image/home_0000s_0001s_0002_key.png" width="30" height="32" />
                        </div>
                        <form>
                        	<input type="password" class="input_pssword" id="password" placeholder="Password" />
                        </form>
                    </div>
                    <div class="main_mittel3">
                    	<a href="javascript:;" onclick="login();">
                        	<button class="large orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 28px;font-family: Arial;">Anmelden</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </a>
                    </div>
                    <div class="main_unten">
                    	<a href="">
                    		<p class="pass_vergessen" onclick="newPass()">passwort vergessen?</p>
                        </a>
                        <a href="$ctx/register.htm">
                        	<p class="registrieren">Registrieren</p>
                        </a>
                    </div>
                    </div>
               
            </div>
        </div>    
    </div>
</body>
</html>

<script>
	function login(){
		//此处需要对各个参数做校验
		var username = $.trim($("#username").val());
		var password = $.trim($("#password").val());
		if(username == ''){
			alert('请输入用户名');
			return;
		}
		if(password == ''){
			alert('请输入密码');
			return;
		}
		$.ajax({
			url : '$ctx/login.json',
			data : {username : username,
					password : password},
			type : "POST",
			dataType : 'json',
			success : function(result){
				if(result.code == 0){
					location.href = '$ctx/index.htm';
				} else {
					alert(result.message);
				}
			}
		});
	}
</script>
